@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

body {
  font-family: 'Inter', serif;
}

h1, h2, h5 {
  font-weight: bold;
}

@media only screen and (min-width: 1000px) {
  h1, h2 {
    font-size: 4.5rem;
    margin: 2rem 0;
  }

  h2 {
    font-size: 2rem;
  }
}
