.w-md-50 {
  @media only screen and (min-width: 1000px) {
    width: 30%;
  }
  @media only screen and (max-width: 1000px) {
    width: 50%;
  }
  @media only screen and (max-width: 780px) {
    width: 70%;
  }
}